---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import profilePic from "../assets/profile-pic.jpg";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter((social) => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="py-6">
      <div
        class="flex items-center justify-start gap-4 sm:gap-6 mb-6 sm:justify-center"
      >
        <h1
          class="my-3 text-5xl font-bold sm:mt-4 sm:my-2 sm:mb-3 sm:text-5xl sm:text-center mr-2"
        >
          Hello!
        </h1>
        <Image
          src={profilePic}
          alt="Profile picture"
          class="rounded-full w-24 h-24 object-cover border-2 border-skin-accent sm:w-24 sm:h-24"
        />
      </div>
      <h2 class="text-xl">Welcome to El Bloc de Notas!</h2>
      <p class="my-2">
        I use this space as a sandbox for things I find interesting and want to
        share, as well as an entrypoint for people that want to get in touch. I
        hope you find something useful here.
      </p>
      <br />
      <h2 class="text-xl">About me</h2>
      <p class="my-2">
        I'm Juan Rosero, a Front End developer from Ecuador living in London. I
        like coding and lukily I make money doing it so that's good. If you want
        to find more about me please visit my <LinkButton href="/about">
          about
        </LinkButton> page.
      </p>
      <p class="my-2">
        If you are interested in the code, you can find it
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          here.
        </LinkButton>
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="mb-1 mr-2 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pb-6 pt-12">
            <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts" class="pb-6 pt-12">
      <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                ),
            )
        }
      </ul>
      <div class="my-8 text-center">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
